* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root {
    --background: rgb(24,24,24);
    --second-background: rgb(21,21,21);
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 15 , 15, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

ul li a {
    color: #fff;
    opacity: .8;
    transition: .2s ease-in-out;
}
ul li a:hover {
    opacity: 1;
}

.logo {
    font-size: 2em;
    color: #fff;
    font-weight: 800;
    opacity: .8;
}

.logo:hover {
    opacity: 1;
}

.btn {
    padding: .5em 1em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: .5em;
    font-size: 1.1em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: var(--background);
    scale: 1.1;
}

span {
    background: linear-gradient(to right, #6cff52,#3ec5ff);
    background-clip: text;
    color: transparent;
}

#menu {
    color: #fff;
    font-size: 3em;
    display: none;
}

section {
    min-height: 100vh;
    padding: 5% 15%;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    color: #fff;
    
}
#home img{
    width: 40vh;
    border-radius: 50%;
    margin-top: 3em;
}
.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 600px;
} 
.info-box h1 {
    font-size: 2.5em;
    font-weight: 800;
}
.info-box h3 {
    font-size: 1.5em;
    font-weight: 500;
    opacity: .8;
}
.info-box p {
    opacity: .7;
}

.btn-box {
    display: flex;
    gap: 1em;
}
.btn-box .btn:nth-of-type(2){
    background-color: #fff;
    color: var(--background);
}

.btn-box .btn:nth-of-type(2):hover {
    background-color: var(--background);
    color: #fff;
}

::-webkit-scrollbar{
    width: 20px;
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to buttom, #6cff52,#3ec5ff);
}

#about{
    background: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

#about img {
    width: 30vw;
    border-radius: 1em;
}
.about-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}

.about-box h1 {
    font-size: 5em;
}

.about-box p {
    color: #fff;
    opacity: .8;
}

.skills {
    display: flex;
    text-align: left;
    gap: 10em;
}

.skills ul {
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: #fff;
    opacity: .8;
    text-align: baseline;
}
.skills ul li span {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: .7em;
    transition: .3s ease-in-out;
}
.skills ul li span:hover {
    transform: translateX(10px);
}


.skills ul li i {
    font-size: 1.2em;
}

.about-box h2{
    font-size: 2.5em;
}

#services {
    background: var(--background);
}

.header {
    text-align: center;
    font-size: 5em;
    margin: 0.5em ;
}

.services-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.box{
    border: 3px solid rgb(49, 49, 49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.box:hover {
    border: 3px solid rgb(100, 100 , 100);
}
.box p {
    opacity: 0.8;
}
.box h1 {
    font-size: 1.5em;
}
.box img {
    min-height: 25px;
    border-radius: .5em;
}

#contact {
    background: var(--second-background);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

form .input-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}

.input-box span{
    font-size: 1.5em;
}

form input {
    font-size: 1.2em;
    padding: 1em 5em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}

form input:focus {
    background: rgb(229, 229 , 229);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background: var(--background);
    width: 100%;
    padding: 5em 15%;
}

.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col-box {
    display: flex;
    align-items: center;
    gap: 1em;
}
.col-box i {
    font-size: 1.4em;
}

.col-box span {
    font-size: 1.2em;
}

.col-right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #fff;
    max-width: 500px;
}

.col-right span {
    font-size: 1.2em;
}
.col-right .social-icon {
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 1em;
}

.col-right .social-icon i {
    font-size: 1.5em;
    transition: .2s ease-in;
    cursor: pointer;
}

.social-icon i:hover{
    transform: translateY(-5px);
    color: #fff;
    transition: .5s ease-in-out;
}

@media(max-width: 968px){
    section {
        padding: 8em 15%;
    }

    nav .btn {
        display: none;
    }
    #menu {
        display: block;
    }
    .links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        color: #fff;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgb(0, 0 , 0, 0.8);
        display: none;
    }

    .links a {
        margin: 2em ;
        display: block;
        font-size: 1.2em;
        color: #fff;
    }

    .links.active {
        display: block;
    }
    #home h1{
        font-size: 4em;
    }

    #home h3{
        font-size: 2em;
    }

    #home img {
        width: 24vw;
    }

    #about {
        flex-direction: column;
    }

    #about img {
        width: 34vw;
    }
    #about h1{
        font-size: 3em;
    }

    #about ul {
        font-size: 1em;
    }
}

@media(max-width: 768px){
    #home h1{
        font-size: 2.5em;
    }

    #home h3{
        font-size: 1.5em;
    }

    #home img {
        width: 32vw;
    }

    #about .skills {
        gap: 3em;
    }

    #services .header {
        font-size: 3em;
    }
    #contact .header {
        font-size: 3em;
    }
    #contact .input-box span{
        font-size: 1.2em;
    }

    .input-box input {
        padding: 0.5em 1em;
    }

    footer {
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }
}